<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>dataDir</param-name>
        <param-value>data</param-value>
    </context-param>

    <servlet>
        <servlet-name>DatabaseServlet</servlet-name>
        <servlet-class>com.example.DatabaseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DatabaseServlet</servlet-name>
        <url-pattern>/api/database/*</url-pattern>
    </servlet-mapping>
</web-app>
